#alerta{
    position:fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(20, 16, 110);
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 1.5;
}
h2 {
    font-size: 20px;
}

#alerta-link {
    color: rgb(160, 123, 195);

}

#fechar-msg {
    background: none;
    border: none;
    color: brown;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}